<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.driver_class">oracle.jdbc.OracleDriver</property>
    <property name="connection.url">jdbc:oracle:thin:@localhost:1521:XE</property>
    <property name="connection.username">student</property>
    <property name="connection.password">STUDENT</property>
    <property name="dialect">org.hibernate.dialect.Oracle10gDialect</property>

    <property name="show_sql">true</property>

    <mapping class="entity.AlbumsEntity" />
    <mapping class="entity.ArtistsEntity" />

  </session-factory>
</hibernate-configuration>